body {
    height: 100vh;
    margin: 0;
    justify-content: center;

}

#total {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    padding: 20px;

}
main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
input {
    border: 5px, solid grey;
    height: 10vmin;
    width: 20vmin;
    font-size: 30px;
    padding: 10px;
    text-align: center;

}
button {
    height: 20vmin;
    width: 20vmin;
    color: solid grey;
    font-size: 30px;
}
button:hover {
    background-color: darkgrey;
    color: white;
}